.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // شفافية الخلفية
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;

  .modal-content-wrapper {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;

    .modal-header,
    .modal-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .modal-body {
      margin: 1rem 0;
    }

    .btn-close {
      background: none;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}
